@page "/customerAttribute"

<h3>CustomerAttributeView</h3>

@if(CustomerAttributes == null)
{
    <h4>Loading</h4>
}else
{
    <table>
        <thead>
            <tr>
                <th>Attribute Master</th>
                <th>Attribute Values Code</th>
                <th>Description</th>
                <th>Short Name</th>
                <th>Parent</th>
                <th>Effective Date</th>
                <th>Valid Until</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in CustomerAttributes)
            {
                <tr>
                    <td>@item.AttributeMaster</td>
                    <td>@item.AttributeValuesCode</td>
                    <td>@item.Description</td>
                    <td>@item.ShortName</td>
                    <td>@item.Parent</td>
                    <td>@item.EffectiveDate</td>
                    <td>@item.ValidUntil</td>
                    <td><a href="/details/@item.Id">Details</a></td>
                    <td>
                        <span class="icon icon-edit" @onclick="() => Edit_ClickAsync(item.Id)">
                            text
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


